<html>

<head>
    <link rel="stylesheet" href="layout2.css">
</head>

<body>

    <h1>Grid Layout</h1>

    <p>This grid layout contains six columns and three rows:</p>

    <div class="grid">
        <div class="item">
            <div class="item1">logo</div>

            <div class="item2">navigation</div>
        </div>

        <div class="item3">header</div>
        <div class="item4">IntroText Area</div>
        <div class="item9">
            <div class="item5">Box 1</div>
            <div class="item7">Box 2</div>
            <div class="item8">Box 3</div>
        </div>
        <div class="item6">footer</div>
    </div>


</body>

</html>